.App {
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: white;
    background-color:aliceblue;
    /* background-image: linear-gradient(79deg, #7439db, #C66FBC 48%, #F7944D); */
  }
  
  .auth-form-container, .login-form, .register-form {
    display: flex;
    flex-direction: column;
  }
  
  
    .auth-form-container {
        margin-top: 0px;
      padding: 6rem;
      background-color: rgb(59, 39, 78);
      /* border: 1px solid white; */
      border-radius: 10px;
      margin: 0.5rem;
    
      height: 450px;
    }
  
  label {
    text-align: center;
    color:aliceblue;
    padding: 0.2rem 0;
    
  }
  
  input {
    margin: 0.5rem 0;
    padding: 0.5rem;
    /* border: none; */
    border-radius: 10px;
    background-color: rgb(215, 197, 232);
    color:black; }
  
  button {
    border: none;
    background-color: rgb(123, 73, 170);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: #7d0f8c;
  }
  
  .link-btn {
    background: none;
    color: rgb(128, 46, 135);
    text-decoration: underline;
  }
 .na{
  background-color: rgb(59, 39, 78);

 }
 .bo{
  background-color: rgb(59, 39, 78);
      border: none;
color: aliceblue;

 }
 .co{
  color: rgb(59, 39, 78);
 }
 .s{
  margin: 2rem 2;

 }